// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon_image_list {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
  left: 30px;
  bottom: -45px;
  border: 5px solid #fff;
  background-color: #fff;
}

.user_image {
  position: relative;
  width: 100%;
  margin-bottom: 65px;

  .banner {
    height: 256px;
    margin: 0 -56px;
    padding: 0 56px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
    background-attachment: inherit;
    background-color: paleturquoise;
    position: relative;
  }

  .icon {
    @extend .icon_image_list;

    position: absolute;
  }
}