// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_users li {
  float: left;
  list-style: none;
}

.under_link {
  clear: both;
}

.container-fluid.animelover-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}